:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.mainContainer {
  overflow: hidden;
}

.mainContainer,
.mainContainer * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.mainContainer {
  position: relative;
  width: 1600px;
  height: 1154px;
  margin: 0 auto;
  background: #13131a;
  overflow: hidden;
}
.shape {
  position: absolute;
  width: 250px;
  height: 1154px;
  top: 0;
  left: 0;
  background: #1c1c24;
  z-index: 81;
}
.shape1 {
  position: relative;
  width: 250px;
  height: 70px;
  margin: 0 0 0 0;
  background: #1c1c24;
  z-index: 137;
  overflow: visible auto;
}
.logo {
  position: relative;
  width: 111px;
  height: 29px;
  margin: 19px 0 0 25px;
  z-index: 138;
  /* overflow: hidden; */
}
.square {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: calc(50% - 14.5px);
  left: 34.23%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}
.rectangle {
  position: absolute;
  width: 25.23%;
  height: 96.55%;
  top: 3.45%;
  left: 0;
  border: 4px solid #fafafb;
  z-index: 140;
  border-radius: 10px;
}
.rectangleCopy {
  position: absolute;
  width: 14.41%;
  height: 55.17%;
  top: 6.9%;
  left: 9.91%;
  border: 4px solid #fafafb;
  z-index: 141;
  border-radius: 10px;
}
.shape2 {
  position: relative;
  width: 230px;
  height: 64px;
  margin: 30px 0 0 10px;
  background: #292932;
  border: 1px solid #44444f;
  z-index: 99;
  border-radius: 15px;
}
.flexColumnA {
  position: absolute;
  width: 60%;
  height: 39px;
  top: 50%;
  left: 23.04%;
  font-size: 0px;
  transform: translate(0, -53.85%);
  z-index: 101;
}
.ahmadNurFawaid {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 100;
}
.hrAdminSquare {
  display: block;
  position: relative;
  height: 14px;
  margin: 4px 0 0 0;
  color: #92929d;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.pp {
  position: absolute;
  width: 13.91%;
  height: 50%;
  top: 23.44%;
  left: 4.78%;
  background: url(../assets/images/74b0825b-532c-4a24-b44d-86688619d90b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 102;
}
.iconText {
  position: relative;
  width: 112px;
  height: 24px;
  margin: 30px 0 0 20px;
  z-index: 134;
  overflow: hidden;
}
.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 39.29%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 135;
}
.icDashboard {
  position: absolute;
  width: 17.86%;
  height: 83.33%;
  top: 8.33%;
  left: 1.79%;
  background: url(../assets/images/ab602957-d50f-4f52-9269-99f22992539b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 136;
}
.iconText3 {
  position: relative;
  width: 111px;
  height: 24px;
  margin: 38px 0 0 20px;
  z-index: 130;
  overflow: hidden;
}
.menu4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 39.64%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 131;
}
.icDashboard5 {
  position: absolute;
  width: 18.02%;
  height: 83.33%;
  top: 8.33%;
  left: 1.8%;
  background: url(../assets/images/aeb8ea63-799b-45da-aaea-a28d4f1b66c2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 132;
}
.sales {
  position: relative;
  width: 215px;
  height: 24px;
  margin: 38px 0 0 20px;
  z-index: 115;
  overflow: hidden;
}
.iconText6 {
  position: absolute;
  width: 101px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 117;
  overflow: hidden;
}
.menu7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 43.56%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 118;
}
.icDashboard8 {
  position: absolute;
  width: 19.8%;
  height: 83.33%;
  top: 8.33%;
  left: 1.98%;
  background: url(../assets/images/9366f77b-729f-4f88-9a79-7739a34f9a3d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 119;
}
.icChevron {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 50%;
  right: 6px;
  background: url(../assets/images/14439ac4-5ba8-44b5-ac1d-bc53e0561d57.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -57.14%);
  z-index: 116;
}
.subMenu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 196px);
  left: 64px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 128;
}
.number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 35px;
  height: 16px;
  top: calc(50% - 193px);
  right: 20px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
  z-index: 127;
}
.subMenu9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 134px);
  left: 64px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 125;
}
.numberA {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 35px;
  height: 16px;
  top: calc(50% - 131px);
  left: calc(50% - -70px);
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
  z-index: 124;
}
.subMenuB {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 72px);
  left: 64px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 122;
}
.numberC {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 24px;
  height: 16px;
  top: calc(50% - 69px);
  right: 20px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
  z-index: 121;
}
.iconTextD {
  position: absolute;
  width: 116px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translate(0, -45.83%);
  z-index: 111;
  overflow: hidden;
}
.icDashboardE {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url(../assets/images/6fcd7410-2744-4939-80d4-8e5bd207f2da.png)
    no-repeat center;
  background-size: cover;
  z-index: 113;
}
.menuF {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 37.93%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 112;
}
.icChevron10 {
  position: absolute;
  width: 7px;
  height: 12px;
  top: 50%;
  right: 23px;
  background: url(../assets/images/762ac2a0-7a55-4c79-9fd8-9e55b68a739e.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -41.67%);
  z-index: 110;
}
.selector {
  position: absolute;
  width: 3px;
  height: 32px;
  top: 50%;
  left: 0;
  background: #fafafb;
  transform: translate(0, 146.88%);
  z-index: 105;
  border-radius: 0 100px 100px 0;
}
.iconText11 {
  position: absolute;
  width: 109px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translate(0, 212.5%);
  z-index: 106;
  overflow: hidden;
}
.menuActive {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 40.37%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 107;
}
.icDashboard12 {
  position: absolute;
  width: 18.35%;
  height: 83.33%;
  top: 8.33%;
  left: 1.83%;
  background: url(../assets/images/2aa07385-ea71-4c46-9b60-c85095fb5187.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 108;
}
.ilApi {
  position: absolute;
  width: 210px;
  height: 153px;
  top: 836px;
  left: 20px;
  background: url(../assets/images/c212aa50-6b66-45d7-9239-a1f6bc22c975.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
}
.cardTeam {
  position: absolute;
  width: 220px;
  height: 179px;
  top: 923px;
  left: 15px;
  z-index: 85;
  -webkit-mask-image: url(../assets/images/7dd64bdd-9ace-4e1f-8d63-efecf8bca44d.png);
  -webkit-mask-size: cover;
}
.pattern {
  position: relative;
  width: 115px;
  height: 95px;
  margin: -42px 0 0 196px;
  background: url(../assets/images/67c82f75-2f77-43a6-aacd-7c8124a0b39d.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
}
.group {
  position: relative;
  width: 181px;
  height: 49px;
  margin: 14px 0 0 20px;
  font-size: 0px;
  z-index: 93;
  overflow: hidden;
}
.upgradeToPremium {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 5px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 94;
}
.goToPro {
  display: block;
  position: relative;
  height: 22px;
  margin: 3px 0 0 0;
  color: #fafafb;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.shape13 {
  position: absolute;
  width: 220px;
  height: 179px;
  top: 0;
  left: 0;
  background: #4fb3fe;
  z-index: 86;
  border-radius: 20px;
}
.buttonGoUnlimited {
  position: absolute;
  width: 190px;
  height: 32px;
  top: 132px;
  left: 15px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 89;
  overflow: hidden;
}
.btnSend {
  position: absolute;
  width: 190px;
  height: 100%;
  top: 0;
  right: 0;
  font-size: 0px;
  z-index: 90;
  overflow: hidden;
}
.primaryButton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 103px;
  height: 18px;
  margin: 6.921px 0 0 44px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 92;
}
.shape14 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #44444f;
  z-index: 91;
  border-radius: 10px;
}
.combinedShapeCopy {
  position: absolute;
  width: 115px;
  height: 95px;
  top: 137px;
  left: -63px;
  background: url(../assets/images/a26a8e6c-568a-4367-9d7c-b72d1b939365.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.shape15 {
  position: absolute;
  width: 1351px;
  height: 70px;
  top: 0;
  left: 249px;
  background: #1c1c24;
  z-index: 73;
  box-shadow: 0 -1px 0 0 #292932 inset;
}
.shape16 {
  position: relative;
  width: 280px;
  height: 38px;
  margin: 16px 0 0 21px;
  z-index: 76;
  overflow: visible auto;
}
.iconText17 {
  position: relative;
  width: 84px;
  height: 24px;
  margin: 7px 0 0 0;
  z-index: 77;
  overflow: hidden;
}
.buttonSearch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12px);
  left: 30px;
  color: #92929d;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 79;
}
.icPlus {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  background: url(../assets/images/2b35d0b8-abc5-46b0-ab0c-392aaec14267.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.profile {
  position: absolute;
  width: 20.8%;
  height: 88.87%;
  top: 8.64%;
  left: 77.5%;
  background: url(../assets/images/b7e2d956-8f19-4713-9114-e91a7559c495.png)
    no-repeat center;
  background-size: 100% 100%;
}
.btnSearch {
  position: absolute;
  width: 170px;
  height: 38px;
  top: 100px;
  left: 858px;
  z-index: 62;
  overflow: hidden;
}
.iconText18 {
  position: relative;
  width: 108px;
  height: 20px;
  margin: 9px 0 0 13px;
  z-index: 64;
  overflow: hidden;
}
.icPlus19 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url(../assets/images/487885be-00d3-4513-90fd-03aaa5feb5d3.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.buttonSearchStaff {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: calc(50% - 8px);
  left: 30px;
  color: #fafafb;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 66;
}
.shape1a {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #292932;
  z-index: 63;
  border-radius: 10px;
}
.shape1b {
  position: absolute;
  width: 10.31%;
  height: 3.29%;
  top: 8.67%;
  left: 65.38%;
  background: #44444f;
  z-index: 57;
  border-radius: 10px;
}
.addEmployee {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: calc(50% - 11px);
  left: 25.45%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 60;
}
.icPlus1c {
  position: absolute;
  width: 10.91%;
  height: 18px;
  top: 50%;
  left: 7.88%;
  background: url(../assets/images/99145a0d-fff1-494e-b0fe-cd4626bc3ff0.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 59;
}
.staffDirectory {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 11%;
  height: 36px;
  top: calc(50% - 476px);
  left: 18.13%;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 68;
}
.showDesignMedia {
  position: absolute;
  width: 182px;
  height: 21px;
  top: 50%;
  left: 30.69%;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: 0.1px;
  transform: translate(0, -2214.29%);
  z-index: 70;
}
.show {
  position: relative;
  color: #696974;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.094px;
  text-align: left;
  letter-spacing: 0.1px;
}
.nbsp {
  position: relative;
  color: #686873;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.094px;
  text-align: left;
  letter-spacing: 0.1px;
}
.designMedia {
  position: relative;
  color: #b5b5be;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.094px;
  text-align: left;
  letter-spacing: 0.1px;
}
.icDropdown {
  position: absolute;
  width: 0.67%;
  height: 0.58%;
  top: 10.34%;
  left: 42.85%;
  background: url(../assets/images/82008903-1348-4645-a696-7a4c7242a00f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 71;
  border-radius: 0.5px;
}
.base {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 14.73%;
  left: 17.88%;
  background: #1c1c24;
  z-index: 3;
  border-radius: 15px;
}
.image {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/079fe473-bcc5-4015-855c-16c28b4e5983.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
  border-radius: 50%;
}
.akumjeliAkuchi {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 75px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.leadDesignTeam {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 81px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 4;
}
.item {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/b5431ac9-3fe0-4994-84aa-839f191b72ea.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.base1d {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 14.73%;
  left: 37.56%;
  background: #1c1c24;
  z-index: 15;
  border-radius: 15px;
}
.image1e {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/3c46182e-522c-4c3d-87e7-c12f939707b5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
  border-radius: 50%;
}
.darikaSamak {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 84px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.uiDesigner {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 106px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 17;
}
.item1f {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/9fc7ded9-fc71-404f-ab35-9e2ca359c98d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.base20 {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 14.73%;
  left: 57.25%;
  background: #1c1c24;
  border: 2px solid #50b5ff;
  z-index: 27;
  border-radius: 15px;
}
.image21 {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/3815f5f0-edce-4963-8f7b-17e0093de5d2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
  border-radius: 50%;
}
.mohsenSalehi {
  display: block;
  position: relative;
  height: 27px;
  margin: 30px 0 0 82px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.uiDesigner22 {
  display: block;
  position: relative;
  height: 19px;
  margin: 7px 0 0 106px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 29;
}
.item23 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 22px 0 0 78px;
  background: url(../assets/images/c242f90e-d131-4915-b76d-2664612b1877.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.base24 {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 42.89%;
  left: 17.88%;
  background: #1c1c24;
  z-index: 9;
  border-radius: 15px;
}
.image25 {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/8e5f727d-cccf-4ca4-adf7-f8932088c3c1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
  border-radius: 50%;
}
.anaruHakopa {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 82px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.uxResearcher {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 95px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 11;
}
.item26 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/5c2815ef-b2fe-42d3-80d6-fc3f582c6f1a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}
.base27 {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 42.89%;
  left: 37.56%;
  background: #1c1c24;
  z-index: 21;
  border-radius: 15px;
}
.image28 {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/16b3aea4-40cc-4f8d-9a30-58a3027579ab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
  border-radius: 50%;
}
.guntherAckner {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 76px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.interactionDesigner {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 75px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 23;
}
.item29 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/d9f28063-b3a4-4ec9-a120-c336ec3b1405.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.base2a {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 42.89%;
  left: 57.25%;
  background: #1c1c24;
  z-index: 33;
  border-radius: 15px;
}
.image2b {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/e1bb9580-338f-4378-8d9a-237ca6e7df0a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
  border-radius: 50%;
}
.nguyenDiepChi {
  position: relative;
  width: 151px;
  height: 27px;
  margin: 28px 0 0 73px;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 37;
}
.nguy {
  position: relative;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.e {
  position: relative;
  color: #fafafb;
  font-family: Lucida Grande, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}
.nDi {
  position: relative;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.e2c {
  position: relative;
  color: #fafafb;
  font-family: Lucida Grande, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}
.pChi {
  position: relative;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.uxDesigner {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 103px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 35;
}
.item2d {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/24ad3032-dc65-4d9d-95de-1ee0f7152971.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.base2e {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 71.06%;
  left: 17.88%;
  background: #1c1c24;
  z-index: 39;
  border-radius: 15px;
}
.image2f {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/d6db7d3b-fd00-4b00-8b35-ceaf34918e3a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
  border-radius: 50%;
}
.praskovyaDubinina {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 56px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.graphicDesigner {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 86px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 41;
}
.item30 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/04c87af2-8b6f-4dd5-b840-4e2627695c36.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
}
.base31 {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 71.06%;
  left: 37.56%;
  background: #1c1c24;
  z-index: 45;
  border-radius: 15px;
}
.image32 {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/3f4bca35-d26d-4645-b9b1-cd3a3fe4339d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
  border-radius: 50%;
}
.rimChongSuk {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 77px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.socialMedia {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 101px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 47;
}
.item33 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/ad9bb562-d3a0-4dd9-9697-3bfa066ce659.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.base34 {
  position: absolute;
  width: 18.44%;
  height: 26.43%;
  top: 71.06%;
  left: 57.25%;
  background: #1c1c24;
  z-index: 51;
  border-radius: 15px;
}
.image35 {
  position: relative;
  width: 121px;
  height: 121px;
  margin: 32px 0 0 87px;
  background: url(../assets/images/a41bbc3c-c230-4e1f-be0d-27dd3c467686.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 54;
  border-radius: 50%;
}
.vladenaKlimkova {
  display: block;
  position: relative;
  height: 27px;
  margin: 28px 0 0 64px;
  color: #fafafb;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.seoSpecialist {
  display: block;
  position: relative;
  height: 19px;
  margin: 5px 0 0 95px;
  color: #b4b4be;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 53;
}
.item36 {
  position: relative;
  width: 140px;
  height: 20px;
  margin: 20px 0 0 78px;
  background: url(../assets/images/49de974a-7181-47dc-8e79-3abb01041bf2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 52;
}
